<%= form_with(model: section_practice, local: true) do |form| %>
  <div>
    <%= form.label :section_id, "Seção Praticada" %>
    <%= form.collection_select :section_id, Section.all, :id, :name %>
  </div>

  <div>
    <%= form.label :accuracy, "Precisão (%)" %>
    <%= form.number_field :accuracy, in: 0..100 %>
  </div>

  <div>
    <%= form.label :comments, "Observações" %>
    <%= form.text_area :comments %>
  </div>

  <%= form.hidden_field :practice_session_id, value: section_practice.practice_session_id %>

  <%= form.submit %>
<% end %>
